input {
  beats {
    port => "{{logstash_syslog_port}}"
    ssl => true
    ssl_certificate => /usr/share/logstash/beat-forwarder.crt
    ssl_key => /usr/share/logstash/beat-forwarder.key
    ssl_verify_mode => none
  }
}

output {
  elasticsearch {
    hosts => "localhost:{{es_local_port}}"
    manage_template => false
    index => "%{[@metadata][beat]}-%{+YYYY.MM.dd}"
    document_type => "%{[@metadata][type]}"
  }
}
