output {
{% if cluster %}
elasticsearch { hosts => [ {{':{{ es_port }}, '.join(groups['elasticsearch-servers']) + ':{{ es_port }}'}}] } 
{% endif %}
{% if not cluster %}
elasticsearch { hosts => ["localhost:{{ es_port }}"] }
{% endif %}
# uncomment this for debug messages
#  stdout { codec => rubydebug }
}