output {
{% if cluster %}
elasticsearch { hosts => ["{{ elasticsearch_host_1 }}:{{es_port}}", "{{ elasticsearch_host_2 }}:{{es_port}}", "{{ elasticsearch_host_3 }}:{{es_port}}"] }
{% endif %}
{% if not cluster %}
elasticsearch { hosts => ["localhost:{{es_port}}"] }
{% endif %}
# uncomment this for debug messages
#  stdout { codec => rubydebug }
}